
.title-register {
    font-size: 50px;
    text-align: center;
}


.input-focus {
    --border-color: #ff4646;
    
}

p {
    text-align: center;
    margin-top: 12px;
    color: #ff4646;
    cursor: default;

}

.button-page {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 5px;

}


